---
import type React from "react";
import Scene from "../3D/Scene.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alexander Kazakov</title>
	</head>
	<body>
		<div class="h-screen w-screen relative text-white">
			<Scene client:only="react" />
			<div class="absolute top-[20rem] left-16">
				<p>Contact page</p>
			</div>
		</div>
	</body>
</html>
