---
import type React from "react";
import Menu from "../components/Menu.astro";
import Scene from "../R3F/Scene.jsx";
import Typewriter from "../components/Typewriter.jsx";
//							<Typewriter client:only />

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alexander Kazakov</title>
	</head>
	<body>
		<div class="h-screen w-screen relative">
			<Scene client:only="react" />
			<div class="absolute top-0 left-10">
				<Typewriter client:only />
			</div>
		</div>
		
	</body>
</html>
