---
import type React from "react";
import Menu from "../components/Menu.astro";
import Scene from "../R3F/Scene.jsx";
import Name from "../components/Name.astro";
//		<Menu />

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alexander Kazakov</title>
	</head>
	<body>
		<div class="h-screen w-screen">

			<Scene client:only="react"></Scene>
		</div>
	</body>
</html>
