---
import Menu from "../components/Menu.astro";
import Scene from "../3D/Scene.jsx";
import Typewriter from "../components/Typewriter.jsx";
import Footer from "../components/Footer.astro";
import Radialmenu from "../components/Radialmenu.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

		
		<meta name="generator" content={Astro.generator} />
		<title>Alexander Kazakov</title>
	</head>
	<body class="font-oswald text-white">
		<div class="h-screen w-screen relative">
			<Scene client:only="react" />


			<div class="absolute top-[26rem] left-16">
				<Typewriter client:only="react" />
				
			</div>
			<div class="absolute top-[10rem] right-[20rem]">
				<Radialmenu/>
			</div>
			<div class="absolute bottom-[4rem] w-screen h-2">
				<Footer />
			</div>
		</div>
	</body>
</html>
