---
import { Image } from "astro:assets";
import GitLogo from "/src/assets/Images/github-mark-white.svg";
const Time = new Date();
//Add github/linkedin and date
---

<div class="flex flex-nowrap justify-between text-xl px-10">
    <p>@{Time.getFullYear()} ALEXANDER KAZAKOV</p>

    <div class="flex flex-wrap ">

        <a href="https://github.com/AKSB-GP" class="px-1">
            <Image src={GitLogo} alt="Github link" width={30} height={30} /></a
        >
        <a href="https://www.linkedin.com/in/alexander--kazakov/" class="px-1"
            ><Image src={GitLogo} alt="Linkedin link" width={30} height={30} /></a
        >
    </div>
</div>
