---

---

<div class="bg-blue-400 text-5xl p-3">
    <h1><a href="/About">About</a></h1>
    <h1><a href="/Work">Work</a></h1>
    <h1><a href="/Projects">Projects</a></h1>
    <h1><a href="/Contact">Contact</a></h1>
</div>